h1{
    text-align: center;
    color: #12e6b1;
    font-size: 60px;
    margin-top: 20px;
}

#gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.player-cards{  
    width: 440px;
    height: 120px;
    padding: 10px 10px;
    background-color: #151515;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    .player-card{
        width: 140px;
        height: 120px;
        background-color: #252525;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 20px;
        display: flex;
        color: #23dd12;
        gap: 5px;
    }
}

#statusText{
    font-size: 40px;
    color: #12d83d;
    margin: 20px 0;
}

#cellContainer{
    width: 460px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #151515;
    gap: 10px;
    border-radius: 25px;
}

.cell{
    width: 140px;
    height: 140px;
    background-color: #252525;
    border-radius: 25px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: scale .4s ease-in-out, background-color .4s ease-in-out;

    &:hover{
        scale: 1.03;
        background-color: #4D4D4D;
    }

    svg{
        width: 80px;
        height: 80px;
        fill: #FFFFFF;
    }
}

#restartBtn{
    width: 340px;
    height: 80px;
    background-color: #151515;
    border-radius: 25px;
    font-size: 35px;
    color: #FFFFFF;
    margin: 20px 0;
}

.win {
    background-color: #2D412D;

    &:hover{
        background-color: #2D412D;
    }
}

.draw{
    background-color: #374D5C;

    &:hover{
        background-color: #374D5C;
    }
}

/* SMARTPHONE */
@media screen and (min-width: 375px) and (max-width: 480px){
    h1{
        font-size: 40px;
    }
    
    .player-cards{
        width: 300px;
        height: 70px;
        border-radius: 15px;

        .player-card{
            width: 90px;
            height: 70px;
            border-radius: 15px;
            font-size: 18px;
        }
    }
    
    #statusText{
        font-size: 30px;
    }

    #cellContainer{
        width: 310px;
        padding: 10px 0;
        gap: 10px;
        border-radius: 15px;

        .cell{
            width: 90px;
            height: 90px;
            border-radius: 15px;
            font-size: 75px;

            svg{
                width: 50px;
                height: 50px;
            }
        }
    }

    #restartBtn{
        width: 210px;
        height: 50px;
        border-radius: 15px;
        font-size: 26px;
        color: #8e89d4;
    }
}