h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
}